<div class="createForm">
  <section>
    <hr>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Post Title</label>
      <textarea class="form-control" id="post-title" rows="1" placeholder=Title></textarea>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Content</label>
      <textarea class="form-control" id="post-text" rows="3" placeholder=...></textarea>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" id="create-post" class="btn btn-primary btn-lg btn-block">Create Post</button>
    </div>
  </section>
</div>


<script src="/js/create.js"></script>